<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    {{> chat}}
    {{> header}}

    <section class="about-header" id="page-header">
        <h2>#AboutUs</h2>
        <p>Information about our works</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="./resource/hero4.png" alt="">
        <div>
            <h2>About Us</h2>
            <p>Trường Đại học Công nghệ (tiếng Anh: VNU Hanoi-University of Engineering and Technology; viết tắt là: VNU
                Hanoi-UET) là một trường đại học thành viên của Đại học Quốc gia Hà Nội, được thành lập vào năm 2004[3],
                địa chỉ tại 144 Xuân Thủy, quận Cầu Giấy, Hà Nội, trong khuôn viên Đại học Quốc gia Hà Nội khu vực Cầu
                Giấy cùng với các trường thành viên như Trường Đại học Ngoại ngữ, Trường Đại học Kinh tế, Trường Đại học
                Y Dược, Khoa Luật,...</p>
            <marquee bgcolor="#e4e5ea" loop="-1" scrollamount="5" width="100%">Sliding text because that look very cool,
                not really good but i want it
            </marquee>
        </div>

    </section>

    <section id="about-vid" class="section-p1">
        <h1>Watch Our Newest <a href="https://youtu.be/Sp3Xkbnvz50">Style</a></h1>
        <div class="video">
            <iframe width="773" height="435" src="https://www.youtube.com/embed/Sp3Xkbnvz50"
                title="Welcome To .SWOOSH | The Future of Sport | Nike" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fe-box">
            <img src="./features/f1.png" alt="free-shipping">
            <h6>Free Shipping</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f2.png" alt="free-shipping">
            <h6>Online Order</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f3.png" alt="free-shipping">
            <h6>Save Money</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f4.png" alt="free-shipping">
            <h6>Promotions</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f5.png" alt="free-shipping">
            <h6>Happy Sell</h6>
        </div>
        <div class="fe-box">
            <img src="./features/f6.png" alt="free-shipping">
            <h6>24/7 Support</h6>
        </div>
    </section>

    {{> footer}}

    <script src="script.js"></script>
</body>

</html>